* {box-sizing: border-box;}

html,body {
  width: 100%;
  height: 100%;
  background: #E8F9FF;
}

#navBar {
  position: sticky;
  top: 0;
  z-index: 3;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #493D9E;
  font-size: 20px;
}

img {
  float: left;
  margin-left: 5px;
}

nav {
  background-color: #9ACBD0;
  overflow: hidden;
  position: relative;
  height: 10%;
}

nav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #614BC3;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
  background-color: #48A6A7;
  text-decoration: none;
  color: #DAD2FF;
}

nav a:active {
  background-color: #493D9E;
  text-decoration: none;
  color: white;
}


#footer {
  background-color: #9ACBD0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: #493D9E;
  font-weight: bold;
  float: left;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  z-index:1;
}


#references {
  display: block;
  width: 100%;
}

#referencesB {
  background-color: #E5D9F2;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #180161;
}

/*CSS for references()*/
#references.collapse {
  height: 0;
  visibility:hidden;
}









